<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/1.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
</head>
<body>
	<div class="wrapper">
	<header>
		<div class="head">
		<h6  class="name md"><a href="index.html">Template</a></h6>
		<div class="name small"><a href="index.html">TL</a></div>
		<nav class="menu small">&#9776</nav>
		<div class="bag"><a href="4.html"><img src="images/bag.png" alt="bag"><span class="priceOfItems"></span></a></div>
		<nav class="menu">
			<ul class="menuList">
				<li class="menuItem">Women</li>
				<li class="menuItem">Men</li>
				<li class="menuItem">Handbags</li>
				<li class="menuItem">Accessories</li>
				<li class="menuItem">Sale</li>
				<li class="menuItem">New Arrivals</li>
				<li class="menuItem">Clearance</li>
				<li class="menuItem">Store Locator</li>
				<li class="menuItem">
					<input type="text" class="inp large" placeholder="Style Name">
					<input type="text" class="inp middle searchFild" placeholder="Style Name">
					<input type="text" class="inp small" placeholder="Style Name">
					<img src="images/icoSearch.png" alt="" class="icon middle">
				</li>
			</ul>
		</nav>
		</div>
		<div class="string small marquee">
			<p>
			<span class="nameOfCategory"> Fashion</span>,
			<span class="nameOfCategory"> Product type</span>,
			<span class="nameOfCategory"> Color</span>,
			 <span class="nameOfCategory"> Brand</span>,
			 <span class="nameOfCategory"> Size</span>,
			 <span class="nameOfCategory"> Price range </span>
			 </p>
			  <span id="arrow"></span>
			 </div>
		<div class="string middle">
			<span class="nameOfCategory">Fashion</span>,
			<span class="nameOfCategory">Product type</span>,
			<span class="nameOfCategory">Color</span>,
			<span class="nameOfCategory">Brand</span>,
			<span class="nameOfCategory">Size</span>,
			<span class="nameOfCategory">Price range </span>
			<span id="arrow"></span>
			 </div>
		<div class="wrapFilter s_m">
		<section class="dropFilter">
			<article>
				<ul class="filtList" id="fL1">
					<span class="nameOfCategory">Fashion</span>
					<li class="disabled filtItem">Not selected</li>
					<li class="filtItem">Nail the 90s</li>
					<li class="filtItem">Casual style</li>
					<li class="filtItem">New Look</li>
					<li class="filtItem">Sport</li>
					<li class="filtItem">Vintage</li>
					<li class="filtItem">Classical style</li>
				</ul>
				<ul class="filtList">
					<span class="nameOfCategory">Product type</span>
					<li class="disabled filtItem">Not selected</li>
					<li class="filtItem">Coats & Jackets</li>
					<li class="filtItem">Dresses</li>
					<li class="filtItem">New Look</li>
					<li class="filtItem">Jersey Tops</li>
				</ul>
				<ul class="filtList">
					<span class="nameOfCategory">Color</span>
					<li class="disabled filtItem">Not selected</li>
					<li class="filtItem">Black</li>
					<li class="filtItem">Blue</li>
					<li class="filtItem">Red</li>
					<li class="filtItem">Green</li>
					<li class="filtItem">Golden</li>
				</ul>
			</article>
			<article>
				<ul class="filtList">
					<span class="nameOfCategory">Brand</span>
					<li class="disabled filtItem">Not selected</li>
					<li class="filtItem">Chi Chi London</li>
					<li class="filtItem">Antipodium</li>
					<li class="filtItem">Adidas</li>
					<li class="filtItem">New Balancet</li>
					<li class="filtItem">River Island</li>
				</ul>
				<ul class="filtList">
					<span class="nameOfCategory">Size</span>
					<li class="disabled filtItem">Not selected</li>
					<li class="filtItem">UK 2</li>
					<li class="filtItem">UK 18</li>
					<li class="filtItem">UK 18L</li>
					<li class="filtItem">UK 20</li>
					<li class="filtItem">UK 20L</li>
					<li class="filtItem">UK 20S</li>
					<li class="filtItem">UK 22S</li>
					<li class="filtItem">UK 22</li>
				</ul>
				<ul class="filtList">
					<span class="nameOfCategory">Price range</span>
					<li class="disabled filtItem">Not selected</li>
					<li class="filtItem">To $99</li>
					<li class="filtItem">$100-$299</li>
					<li class="filtItem">From $300</li>
				</ul>
			</article>
		</section>
		</div>
	</header>
	<main>
			<div class="filter large">
			<ul class="filtUL">
				<li class="filtItem">
					<span>Fashion</span>
					<div class="dropList large">
						<p class="disabled">Not selected</p>
						<p>Nail the 90s</p>
						<p>Casual style</p>
						<p>New Look</p>
						<p>Sport</p>
						<p>Vintage</p>
						<p>Classical style</p>
					</div>
				</li>
				<li class="filtItem">
					<span>Product type</span>
					<div class="dropList large">
						<p>Not selected</p>
						<p>Coats & Jackets</p>
						<p>Dresses</p>
						<p>Jersey Tops</p>
					</div>
				</li>
				<li class="filtItem">
					<span>Color</span>
					<div class="dropList large">
						<p>Not selected</p>
						<p>Black</p>
						<p>Blue</p>
						<p>Red</p>
						<p>Green</p>
						<p>Golden</p>
					</div>
				</li>
				<li class="filtItem">
					<span>Brand</span>
					<div class="dropList large">
						<p>Not selected</p>
						<p>Chi Chi London</p>
						<p>Antipodium</p>
						<p>Adidas</p>
						<p>New Balance</p>
						<p>River Island</p>
					</div>
				</li>
				<li class="filtItem">
					<span>Size</span>
					<div class="dropList large">
						<p>Not selected</p>
						<p>UK 2</p>
						<p>UK 18</p>
						<p>UK 18L</p>
						<p>UK 20</p>
						<p>UK 20L</p>
						<p>UK 20S</p>
						<p>UK 22S</p>
						<p>UK 22</p>
					</div>
				</li>
				<li class="filtItem">
					<span>Price range</span>
					<div class="dropList large">
						<p>Not selected</p>
						<p>To $99</p>
						<p>$100-$299</p>
						<p>From $300</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="content">
		</div>
		<div class="button" onclick="2.html">Show more</div>
		<div class="footImg small"></div>
		<div class="footImg middle">
			<div class="firstImg"></div>
			<div class="secondImg"></div>
		</div>
		<section class="footImg large">
			<div class="firstImg"></div>
			<div class="secondImg"></div>
			<div class="thirdImg"></div>
		</section>
	</main>
<footer>
		<section class="top_of_foot">
		<table class="foot">
			<tr>
				<th width="55%">Quick Links</th>
				<th>Customer Care</th>
			</tr>
			<tr>
				<td>Store locator</td>
				<td>Customer service</td>
			</tr>
			<tr>
				<td>Gift cards</td>
				<td>Track my order</td>
			</tr>
			<tr>
				<td>Size guide</td>
				<td>Return policy</td>
			</tr>
			<tr>
				<td>About us</td>
				<td>Shipping & delivery</td>
			</tr>
			<tr>
				<td>Support</td>
				<td>Contact us</td>
			</tr>
			<tr>
				<td></td>
				<td>Careers</td>
			</tr>
		</table>
		<hr class="small">
		<div class="contacts">
			<div class="twit">
				<p><b>Questions</b></p>
				<div><img src="images/twi_ico.png" alt=""> Tweet us @<b>template</b></div>
			</div>
			<div class="phone">
				<p><b>Order by phone</b></p>
				<div>8-800-409-47-12</div>
			</div>
			<div class="footText large">
				<p>We have our own delivery service which</p>
				<p>operates in 23 major European cities. Delivery</p>
				<p>time - 3-5 days.</p>
			</div>
			<div class="icons middle">
				<img src="images/fb.png" alt="" class="fb">
				<img src="images/twi.png" alt="" class="twi">
			</div>
			<div class="icons large">
				<img src="images/fb.png" alt="" class="fb">
				<img src="images/twi.png" alt="" class="twi">
			</div>
		</div>
		</section>
		<hr>
		<section class="second_part_of_foot md">
		<div class="foot2">
			<span class="corp first">@ 2010-2015, The Template Group inc.</span>
			<span class="review">Share<img src="images/share.png" alt=""></span>
			<span class="addInfo">
			<span class="first">Legal notice</span>
			<span>Privacy policy</span>
			<span>Site map</span>
			</span>
		</div>
		</section>
		<section class="second_part_of_foot small">
		<div class="foot2">
			<span class="first">Legal notice</span>
			<span>Privacy policy</span>
			<span>Site map</span>
			<span class="icons small">
				<img src="images/fb.png" alt="" class="fb">
				<img src="images/twi.png" alt="" class="twi">
			</span>
		</div>
		<hr class="footHr">
		<div class="foot2">
			<span class="corp first">@ 2010-2015, The Template Group inc.</span>
				<span class="review">Share<img src="images/review.png" alt=""></span>
		</div>
		</section>
	</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
	<script src='data/catalog.js'></script>
	<script src="js/js_for_template.js"></script>
	<script class="template" type="text/template"> 
		<%for(let i=0; i<mas.length; i++){%>
		<%if(i==2){%>
				<div class="promoBlock small">
				<h2>Last weekend <span class="red">extra 50%</h2>
				<h2>off on all reduced boots and</h2>
				<h2>shoulder bags</h2>
				<p>This offer is valid in-store and online. Prices
				displayed reflect this additional discount. This
				offer ends at 11:59 GMT on March 1st 2015</p>
			</div>
			<%}%>
			<%if(i==3){%>
				<div class="promoBlock middle">
				<h2>Last weekend <span class="red">extra 50%</span>off on all reduced</h2>
				<h2>boots and shoulder bags</h2>  
				<p>This offer is valid in-store and online. Prices
					displayed reflect this additional discount.</p>
					<p>This
					offer ends at 11:59 GMT on March 1st 2015</p>
				</div>
			<%}%>
			<%if(i==4){%>
				<div class="promoBlock large">
				<h2>Last weekend <span class="red">extra 50%</span> off on all reduced boots and shoulder bags</h2>
				<p>This offer is valid in-store and online. Prices
					displayed reflect this additional discount. This
					offer ends at 11:59 GMT on March 1st 2015</p>
				</div>
			<%}%>
			<% if(i<num_of_items_small){%>
			<div class='contDiv'>
			<%}%>
			<% if(i>=num_of_items_small && i<num_of_items_middle){%>
			<div class='contDiv md'>
			<%}%>
			<% if(i>=num_of_items_middle && i<num_of_items_large) {%>
			<div class='contDiv large'>
			<%}%>
			<% if(i>=num_of_items_large){%>
			<div class='contDiv md' style="display: none">
			<%}%>
			<div class="itemImages">
				<% if(i%2==0){%>
				<a href="3.html" class="linkItem">
				<%}%>
				<% if(i%2==1){%>
				<a href="5.html" class="linkItem">
				<%}%>
				<img src=<%=mas[i].thumbnail%> width='158' height='228' alt="" class="small itemImg">
				<img src=<%=mas[i].thumbnail%> width='204' height='289' alt="" class="middle itemImg">
				<img src=<%=mas[i].thumbnail%> alt="" class="large itemImg">
				<p>View Item</p>
				</a>
				<% if(mas[i].hasNew){%>
				<img src="images/new.jpg" alt="new" class="new">
				<%}%>
			</div>	
				<p class="caption"><%=mas[i].title%></p>
				<% if(mas[i].price){%>
				<%if(mas[i].discountedPercent){%>
				<p class="price">
				<span class="discPrice">£<%=mas[i].price.toFixed(2)+" -"+mas[i].discountedPercent+"%"%></span>
				 £<%=mas[i].discountedPrice.toFixed(2)%>
				<%}%>
				<% if(mas[i].discountedPrice && !mas[i].discountedPercent){%>
				<p class="price">£<%=mas[i].discountedPrice.toFixed(2)%></p>
				<%}%>
				<% if(mas[i].price && !mas[i].discountedPrice){%>
				£<%=mas[i].price.toFixed(2)%></p>
				<%}%>
				<%}%>
				<% if(!mas[i].price && !mas[i].discountedPrice){%>
				<p class="price"><%=mas[i].placeholder%></p>
				<%}%>
		</div>
		<%}%>
	</script>
	<script src="js/common.js"></script>
	<script src="js/second.js"></script>
</body>
</html>